@import "../../../../../utilities/variables";
.mainContainer {
  width: max(100%, 100%);
  height: max(800px, 800px);
  background-image: url("../../../../../images/homepage//photo-carousel/antique-vase.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  position: relative;

  justify-content: center;
  align-items: center;
  gap: 20px;
}
.backdropFilter {
  background-color: rgba(0, 0, 0, 0.7);
  width: max(100%, 100%);
  height: max(100%, 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}

.animationTextContainer {
  width: max-content;
  max-width: max-content;
  min-width: max-content;
  height: max-content;
  min-height: max-content;
  max-height: max-content;
  position: relative;
  display: flex;
  overflow: hidden;
  transition: all 1s;
  padding: 0px 100px;
}

.animationTitleText {
  font-size: toRem(72);
  line-height: toRem(72);
  transition: all 1s;
  color: $white;
  transform: rotate(-180deg) translateY(50px);
  transform-origin: top right;
  font-family: $fontFamily;
  padding: 0px;
  margin: 0px;
}

.animationTitleTextActive {
  transform: rotate(0deg) translateY(0px) !important;
  transition: all 1s;
}
.subtitleText {
  font-size: toRem(24);
  width: max(65ch, 65ch);
  text-align: center;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: all 1s;
  margin: 0px;
  padding: 0px;
}
.subtitleTextActive {
  transform: translateX(0px);
  transition: all 1s;
  opacity: 1;
}
.slideshowButton {
  width: max-content;
  max-width: max-content;
  min-width: max-content;
  height: max-content;
  min-height: max-content;
  max-height: max-content;
  padding: 10px 40px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: toRem(20);
  z-index: 2;
  opacity: 0;
  transition: all 1s;
}
.slideshowButton:hover {
  color: $main600;
  border-color: $main600;
}
.slideshowButtonActive {
  opacity: 1;
  transition: all 1s;
}
@media (max-width: 1000px) {
  .animationTitleText {
    font-size: toRem(68);
    line-height: toRem(68);
  }
  .subtitleText {
    font-size: toRem(16);
  }
  .slideshowButton {
    font-size: toRem(16);
  }
}
@media (max-width: 750px) {
  .mainContainer {
    height: max(500px, 500px);
  }
  .animationTitleText {
    font-size: toRem(52);
    line-height: toRem(52);
  }
  .subtitleText {
    font-size: toRem(14);
  }
  .slideshowButton {
    font-size: toRem(14);
  }
}
@media (max-width: 580px) {
  .subtitleText {
    width: max(45ch, 45ch);
  }
  .animationTitleText {
    font-size: toRem(48);
    line-height: toRem(48);
  }
  .mainContainer {
    height: max(400px, 400px);
  }
}
@media (max-width: 500px) {
  .subtitleText {
    width: max(38ch, 38ch);
  }
  .animationTitleText {
    font-size: toRem(36);
    line-height: toRem(36);
  }
  .mainContainer {
    height: max(400px, 400px);
  }
}
@media (max-width: 400px) {
  .subtitleText {
    width: max(32ch, 32ch);
  }
}
