@import "../../../../../utilities/variables";
.sectionTitle {
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  padding: 0px;
  margin: 0px;
  font-size: toRem(36);
  color: $main800;
  font-family: $fontFamily;
}
.sectionImage {
  width: max(300px, 300px);
  height: max(50px, 50px);
  object-fit: contain;
  display: inline-block;
  margin-bottom: 20px;
}
.inputTitle {
  align-self: flex-start;
  font-size: toRem(20);
  font-family: $fontFamily;
  color: $main800;
  padding: 0px;
  margin: 0px;
  text-align: left;
}
.inputContainer {
  width: max(100%, 100%);
  height: max(40px, 40px);
  position: relative;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $black;
  box-sizing: border-box;
  margin-top: 15px;
  border: 1px solid $black;
  border-radius: 5px;
  z-index: 1;
}
.changeInputLabel {
  position: absolute;
  top: 50%;
  left: 10px;
  width: max-content;
  min-width: max-content;
  max-width: max-content;
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  font-family: $fontFamily;
  font-size: toRem(14);
  color: $main800;
  background-color: white;
  padding: 5px;
  margin: 0px;
  transform: translateY(-50%);
  z-index: 3;
  transition: all 0.5s;
}
.changeInput {
  width: max(90%, 90%);
  height: max(100%, 100%);
  font-family: $fontFamily;
  font-size: toRem(12);
  color: inherit;
  outline: 0px;
  border: 0px;
  padding: 0px 12px;
  box-sizing: border-box;
  z-index: 2;
}
.moveLabel {
  top: -2px;
  left: 5px;
  font-size: toRem(10);
}
.submitButton {
  background-color: $main1000;
  border: 0px;
  color: $white;
  width: max(100px, 100px);
  height: max(50px, 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: toRem(18);
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.5s;
  position: relative;
}
.submitButton:hover {
  background-color: $main300;
  color: $main1000;
}
.inputTitleGap {
  margin-top: 10px;
}
.inputFocused {
  border: 1px solid blue;
}
.warningTitle {
  padding: 0px;
  margin: 0px;
  color: red;
  font-size: toRem(28);
  text-align: center;
  height: max-content;
  min-height: max-content;
  font-family: $fontFamily;
}
.warningText {
  padding: 0px;
  margin: 0px;
  color: red;
  font-size: toRem(16);
  text-align: center;
  height: max-content;
  min-height: max-content;
  font-family: $fontFamily;

  width: max(100%, 100%);
}
.gap {
  margin-bottom: 20px;
}
