@import "../../../utilities/variables";
.marketplaceSelection {
  width: max(800px, 800px);
  height: max(100%, 100%);
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-auto-rows: max-content;
  box-sizing: border-box;
  padding: 40px 0px;
  position: relative;
}
.itemContainer {
  width: max(200px, 200px);
  height: max(250px, 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.itemContainer:hover {
  background-color: $main200;
}

.itemImage {
  width: max(150px, 150px);
  height: max(150px, 150px);
  padding: 10px;
  border-radius: 5px;

  object-fit: cover;
}
.itemTitle {
  width: max(140px, 140px);
  height: max-content;
  min-height: max-content;
  max-height: max-content;
  font-size: toRem(14);
  font-family: $fontFamily;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: $main1000;
}
.itemPrice {
  width: max(45ch, 45ch);
  height: max-content;
  min-height: max-content;
  max-height: max-content;
  font-size: toRem(12);
  font-family: $fontFamily;
  text-align: center;
  color: $main600;
  margin: 0px;
  padding: 0px;
}
.tempButton {
  position: fixed;
  padding: 10px 20px;
  top: 300px;
  left: 10px;
  background-color: $main800;
  color: $white;
  display: flex;
  place-items: center;
  font-size: toRem(32);
}
.noProductFoundText {
  color: $main800;
  font-size: toRem(32);
  align-self: center;
  justify-self: center;
  width: max(800px, 800px);
  columns: 1 / span 3;
  text-align: center;
}

.pageButtonContainer {
  max-width: max-content;
  box-sizing: border-box;
  max-height: max-content;
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: -50px;
  right: 10px;
}

.pageButton {
  max-width: max-content;
  box-sizing: border-box;
  max-height: max-content;
  padding: 10px;
  border: 1px solid $main800;
  border-radius: 2px;
  background-color: $white;
  font-size: toRem(12);
  font-family: $fontFamily;
  transition: all 0.5s;
  position: relative;
}
.pageButton:hover {
  background-color: $main200;
  color: $main800;
}
