@import "../../../utilities/variables";
.mainContainer {
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  width: min(1000px, 100%);
  display: grid;
  grid-template-rows: 60px max-content max-content;
  grid-template-columns: minmax(100%, 1000px);
  justify-content: center;
  align-items: center;
  gap: 0px;
  overflow: hidden;
  box-sizing: border-box;
}

.navBar {
  height: max(100%, 100%);
  width: min(1000px, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.navButton {
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  width: max(126px, 126px);
  padding: 10px 20px;
  border-radius: 20px;
  color: $main800;
  background-color: $main200;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
  border: 0px;
  font-size: 1rem;
  transition: all 1s;
  font-family: $fontFamily;
  box-sizing: border-box;
}
.navButton:hover {
  color: $white;
  background-color: $main800;
}
.activeNavButton {
  color: $white;
  background-color: $main800;
}
.itemCollection {
  display: grid;

  min-width: 100%;
  width: 100%;
  max-width: 1000px;
  height: max-content;
  min-height: 400px;
  max-height: max-content;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: max-content;

  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.itemContainer {
  width: max(235px, 235px);
  height: max(360px, 360px);
  border-radius: 5px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 250px 60px 30px;
  align-items: center;
  justify-items: center;
  padding: 10px 0px;
  position: relative;
  transition: background-color 1s;
}
.itemContainer:hover {
  background-color: $main200;
}

.itemImage {
  width: max(90%, 90%);
  height: max(90%, 90%);
  object-fit: cover;
  object-position: center;
}
.itemTitle {
  width: max(70%, 70%);
  height: max-content;
  min-height: max-content;
  max-height: max-content;
  font-size: toRem(20);
  color: $black;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  font-family: $fontFamily;
}
.itemPrice {
  width: max-content;
  max-width: max-content;
  min-width: max-content;
  height: max(100%, 100%);
  font-size: toRem(16);
  color: $black;
  text-align: center;
  font-family: $fontFamily;
  color: $main600;
}
.showMoreButton {
  width: max(120px, 120px);
  height: max(40px, 40px);
  background-color: $main600;
  color: $white;
  font-size: toRem(16);
  justify-self: center;
  border: 0px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  transition: all 1s;
  font-family: $fontFamily;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.showMoreButton:hover {
  color: $main800;
  background-color: $main200;
}

.noItemsFoundText {
  font-size: toRem(16);
  font-family: $fontFamily;
  color: $main800;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  height: 300px;
  max-height: 300px;

  justify-self: center;
  align-self: center;

  text-align: center;
  grid-column: 1 / span 4;
}

.seperatedNavBar {
  width: max(400px, 400px);
  max-height: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
@media (max-width: 1000px) {
  .mainContainer {
    grid-template-rows: 50px 50px max-content max-content;
  }
  .itemCollection {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media (max-width: 810px) {
  .itemCollection {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 550px) {
  .itemCollection {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
@media (max-width: 420px) {
  .seperatedNavBar {
    width: max(330px, 330px);
    max-height: max-content;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-self: center;
  }
  .navButton {
    width: max(100px, 100px);
    padding: 10px 0px;
    border-radius: 20px;
    font-size: toRem(12);
  }
}
