@import "../../../utilities/variables";

.signupDialog {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: $popupBackdropZIndex;
  position: fixed;
  width: max(100vw, 100vw);
  height: max(100vh, 100vh);
  display: grid;
  place-items: center;
}

.signupForm {
  width: max(400px, 400px);
  height: max-content;
  min-height: max-content;
  max-height: max-content;
  background-color: white;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: $popupZIndex;
  gap: 10px;
  padding: 20px;
}
.loginTitle {
  margin: 0px;
  padding: 0px;
  font-size: toRem(48);
  line-height: toRem(48);
  font-family: $fontFamily;
  color: $main600;
  width: max(80%, 80%);
  height: max-content;
  text-align: center;
}
.inputContainer {
  width: max-content;
  min-width: max-content;
  max-width: max-content;
  height: max-content;
  min-height: max-content;
  max-height: max-content;
  position: relative;
  font-family: $fontFamily;
}
.inputLabel {
  width: max-content;
  max-width: max-content;
  min-width: max-content;
  height: max-content;
  min-height: max-content;
  max-height: max-content;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: toRem(16);
  transition: all 0.5s;
  font-family: $fontFamily;
}

.signupInput {
  height: max(40px, 40px);
  width: max(320px, 320px);
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: $fontFamily;
}
.inputError {
  border: 1px solid $warningMain;
  color: $warningMain;
}
.errorText {
  color: $warningMain;
}
.emailLogin:focus,
.password:focus {
  border: 0px;
}
.activeInputLabel {
  top: 0px;
  left: 5px;
  padding: 0px 5px;
  background-color: $white;
  font-size: toRem(12);
  font-family: $fontFamily;
}

.forgotPassword {
  position: absolute;
  bottom: -25px;
  right: 5px;
  transition: all 0.5s;
  font-size: toRem(10);
  line-height: toRem(10);
}
.forgotPassword:hover {
  color: $main600;
  text-decoration: underline;
  cursor: pointer;
}
.signupButton {
  background-color: $main700;
  color: $white;
  border: 0px;
  font-size: toRem(18);
  width: max(100px, 100px);
  height: max(50px, 50px);
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
  font-family: $fontFamily;
}
.signinButton {
  background-color: transparent;
  color: $black;
  border: 0px;
  font-size: toRem(12);
  width: max(60px, 60px);
  height: max(30px, 30px);
  border-radius: 10px;
  transition: all 0.5s;
  font-family: $fontFamily;
}

.textDecor {
  width: max(200px, 200px);
  height: max(30px, 30px);
  object-fit: contain;
  padding-right: 2.5px;
}
.closingContainer {
  width: max(30px, 30px);
  height: max(30px, 30px);
  display: grid;
  place-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $main700;
  color: $white;
  border-radius: 50%;
  transition: all 0.5s;
}

.closingContainer:hover,
.signupButton:hover {
  background-color: $main100;
  color: $black;
}
.closingIcon {
  width: max(20px, 20px);
  height: max(20px, 20px);
}
.signinButton {
  width: max(100px, 100px);
  padding: 0px;
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  transition: all 0s;
  font-family: $fontFamily;

  font-size: toRem(16);
}
.signinButton:hover {
  text-decoration: underline;
  color: $main600;
}
.orText {
  font-size: toRem(10);
  line-height: toRem(10);
  padding: 0px;
  margin: 0px;
  font-family: $fontFamily;
}
.radialOptionsTopContainer {
  display: flex;
  width: max-content;
  max-width: max-content;
  height: max-content;
  max-height: max-content;
  gap: 20px;
}
.radialContainer {
  width: max(100%, 100%);
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.sellerRadial {
  width: max(30px, 30px);
  height: max(30px, 30px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $black;
  box-sizing: border-box;
  padding: 5px;
  background-color: $white;
  transition: border 0.5s;
}
.sellerRadial:hover {
  border: 1px solid $main200;
}
.checkIcon {
  width: max(100%, 100%);
  height: max(100%, 100%);
  color: $main800;
}
.checkboxLabel {
  padding: 0px;
  margin: 0px;
  font-family: $fontFamily;
  color: $main800;
  font-size: toRem(16);
}
