@import "../../../utilities/variables";

.topContainer {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  position: relative;
}

.arrowButton {
  width: max(50px, 50px);
  height: max(50px, 50px);
  border-radius: 50%;
  background-color: $main700;
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: $main100;
  z-index: 2;
  border: 0px;
  padding: 10px;
  transition: all 1s;
}
.leftArrowButton {
  top: 50%;
  left: 80px;
  transform: translate(-50%, -100%);
}
.rightArrowButton {
  top: 50%;
  right: 80px;
  transform: translate(50%, -100%);
}
.arrowIcon {
  width: max(25px, 25px);
  height: max(25px, 25px);
}
.arrowButton:hover {
  background-color: $white;
  color: $black;
}
@media (max-width: 1000px) {
  .leftArrowButton {
    left: 40px;
  }
  .rightArrowButton {
    right: 40px;
  }
}
@media (max-width: 750px) {
  .arrowButton {
    width: max(40px, 40px);
    height: max(40px, 40px);
    border-radius: 50%;
  }
  .arrowIcon {
    width: max(20px, 20px);
    height: max(20px, 20px);
  }
}
@media (max-width: 500px) {
  .arrowButton {
    width: max(30px, 30px);
    height: max(30px, 30px);
    border-radius: 50%;
    padding-top: 8px;
  }
  .arrowIcon {
    width: max(15px, 15px);
    height: max(15px, 15px);
  }
}
@media (max-width: 400px) {
  .leftArrowButton {
    left: 25px;
  }
  .rightArrowButton {
    right: 25px;
  }
}
