@import "../../utilities/variables";
.userInfoTopContainer {
  width: max(100%, 100%);
  min-height: max-content;
  height: max-content;
  max-height: max-content;
  background-color: $white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 60px;
  padding-top: 60px;
}
.banner {
  width: max(100%, 100%);
  height: max(175px, 175px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/homepage/photo-carousel/antique-painting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  display: grid;
  place-items: center;
  font-size: toRem(68);
  font-family: $fontFamily;
}
.userInfoContentContainer {
  width: min(1000px, 100%);
  min-height: calc(100vh - 585px);
  height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  gap: 0px;
}
.sectionTitle {
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  padding: 0px;
  margin: 0px;
  font-size: toRem(48);
  color: $main800;
  font-family: $fontFamily;
}
.sectionImage {
  width: max(300px, 300px);
  height: max(50px, 50px);
  object-fit: contain;
  display: inline-block;
  padding-right: 25px;
}
.orderGridContainer {
  width: max(100%, 100%);
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  padding: 20px 0px;
}
@media (max-width: 400px) {
  .banner {
    font-size: toRem(48);
  }
  .sectionTitle {
    font-size: toRem(42);
  }
}
