@import "../../../utilities/variables";

.mainContainer {
  width: min(1000px, 100%);
  height: max-content;
  max-height: max-content;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  background-color: $lightWhite;
  margin-bottom: 40px;
}
.reviewContainer {
  display: flex;
  width: max(100%, 100%);
  height: max(300px, 300px);
  gap: 0px;

  align-items: center;
  justify-content: center;
}
.reviewTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: max(100%, 100%);
  height: max(300px, 300px);
}
.reviewPhoto {
  width: max(100%, 100%);
  height: max(300px, 300px);
  display: inline-block;

  object-fit: cover;
}
.reviewText {
  padding: 0px;
  margin: 0px;
  font-size: toRem(20);
  text-align: center;
  text-align: center;
  width: max(25ch, 25ch);
  font-family: $fontFamily;
}
.reviewName {
  padding: 0px;
  margin: 0px;
  font-size: toRem(20);
  text-align: center;
  text-align: center;
  width: max-content;
  max-width: max-content;
  font-family: $fontFamily;
}
.reviewDescripition {
  padding: 0px;
  margin: 0px;
  font-size: toRem(16);
  text-align: center;
  text-align: center;
  width: max(25ch, 25ch);
  font-family: $fontFamily;
}
.starsContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-items: center;
  height: max-content;
  max-height: max-content;
  min-height: max-content;
  width: max-content;
  max-width: max-content;
  min-width: max-content;
}
.starIcon {
  width: max(30px, 30px);
  height: max(30px, 30px);
  color: gold;
}
@media (max-width: 1050px) {
  .reviewContainer {
    flex-direction: column;
    max-height: max-content;
    height: max-content;
  }
  .reviewTextContainer {
    height: max(300px, 300px);
  }
  .reviewContainer {
    display: flex;
    width: max(80%, 80%);
    max-height: max-content;
    align-items: center;
    justify-content: center;
  }
  .reviewPhoto {
    width: max(80%, 80%);
    height: max(300px, 300px);
    display: inline-block;
    object-fit: cover;
  }
}
@media (max-width: 650px) {
  .reviewContainer {
    width: max(90%, 90%);
  }
  .reviewPhoto {
    width: max(90%, 90%);
  }
  .reviewText {
    width: max(20ch, 20ch);
  }
  .reviewDescripition {
    width: max(20ch, 20ch);
  }
}
@media (max-width: 450px) {
  .reviewTextContainer {
    height: max(200px, 200px);
  }
  .reviewContainer {
    display: flex;
    width: max(85%, 85%);
    max-height: max-content;
    align-items: center;
    justify-content: center;
  }
  .reviewPhoto {
    width: max(85%, 85%);
    height: max(200px, 200px);
    display: inline-block;
    object-fit: cover;
  }
}
